@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .bg-noise {
    background: url("/noise.png") right center/cover no-repeat;
  }
  .left-clip{
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    /* clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%); */
  }
  .input-clip{
    clip-path: polygon(0 0, 100% 0, 93% 100%, 0% 100%);
    /* clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%); */
  }
  .right-clip{
    /* clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%); */
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
  }
}
